<html> 
  
  <head>
  <link rel="stylesheet" type="text/css" href="mystyle.css">
  <title>Basketball Output</title>
</head>
 <div class="topnav">
     <a href ="./" > HOME</a>
     <a href ="./basketball" > BASKETBALL</a>
     <a href ="./soccer" > SOCCER </a>
     <a href ="./tennis" > TENNIS </a>
     <a href ="./howtohelp" > HOW YOU CAN HELP</a>
     <a href ="./quiz" > QUIZ</a>
     </div>
     
  <body>
    
    <style>
    
    .topnav {
   overflow: hidden;
   background-color: #EF4387;
    font-size:  29px;
  font-family: 'Syncopate';
}

/* Style the topnav links */
.topnav a {
   float: left;
   display: block;
   color: #FFEAEF;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
   background-color: #FFCAE0    ;
   color: #EF4387;
}
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Syncopate');

      html{
  margin-left: auto; 
  margin-right: auto
          
      }
  
body{
     background-image: url("https://www.freevector.com/uploads/vector/preview/18263/Free-Pink-Background-Vector.jpg");
     color:white; 
}

h1{text-align: center;font-size: 100px;font-family: 'Syncopate'}


h2{text-align: center;font-size: 45px;font-family: merriweather}

#gif{
  display: block;
  margin-left: auto; 
  margin-right: auto;
}
/*#gif{padding:280px; height: 400px}*/
p{text-align: center}
p{font-family: merriweather}
p{font-size: 30px}
li{text-align: center}
li{font-family: merriweather}
li{font-size: 34px}
    </style>
     
     <h1>You got: Basketball!</h1>
    <img src="https://media2.giphy.com/media/3o6Zth4jDWx17kX5Uk/giphy.gif" id="gif">
    <br> 
   
    <li> Click here for links about camps, lessons, and academies.</li>
  <p> <a href = "https://omahasportsacademy.com/camps-clinics/summer-camps/"
>Omaha Sports Academy,</a><br>
       <a href = "https://www.unomaha.edu/camps/index.php"
>UNO Basketball Camp,</a><br>
    <a href = "https://www.ymcatriangle.org/programs-services/sports/youth-basketball"
       >YMCA Junior Basketball,</a><br> 
    <a href = "http://hoffmanshoopsacademy.com" >Hoffman's Hoops Academy</a></p>
  
 <br>
  <br>
  <br>
  
  </body>
  
  </html>