<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="mystyle.css">
  </head>
  <nav>
     <a href ="/" > HOME</a>
     <a href ="/basketball" > BASKETBALL</a>
     <a href ="/soccer" > SOCCER </a>
     <a href ="/tennis" > TENNIS </a>
     <a href ="/howtohelp" > HOW YOU CAN HELP</a>
     <a href ="/quiz" > QUIZ</a>
     </nav>
     
<img    src="https://images6.alphacoders.com/323/thumb-350-323997.jpg"
id="ball">
<h1>
  <body>
    Basketball 
  </body>
</h1> 
<h2> 
  <body>
    WNBA
       <li>The pay gap between the WNBA and the NBA is significant. Women on average make $20,000 less than men in basketball. 
         <li> The starting salary for a WNBA player is around $41,202.
           <li> Even the most skilled WNBA player is paid only 1/5 of the lowest paid NBA player, or even a NBA player that has been benched for most of the season. 
           <li> WNBA players are only paid 25% of their revenue. This being said WNBA players often have thirty-two games per season.
             <li> The reigning WNBA MVP of 2017, Sylvia Fowels, earned $109,000, she was underpaid by $881,787.
  </body>
</h2>
<h3>
  <body>
    NBA
      <li>The starting salary for an NBA player is around $560,000.
        <li> Men are paid 50% of their revenue. 
          <li> NBA players play roughly eighty-two games per season not including playoffs. 
            <li> The reigning NBA MVP of 2017, Russell Westbrook, earned a total of $28.5 million. 
  </body>
</h3>
<h4>
  <body>
    According to CNBC this pay gap is not just in bastekball. When comparing the pay of a man to the pay of a women for the same job at the same company with similar education and experience, men still earn 2.4% more than women on average.
  </body>
</h4> 
<img   src="https://pbs.twimg.com/profile_images/746765036866043904/QVkrdOFQ_400x400.jpg"
id="WNBA">
<h5>
  <body>
WNBA player Chelsea Gray, top paid WNBA player -$741.485
  </body>
  </h5>
</html>