<!DOCTYPE html>
<html>
  
  <head>
    <link rel="stylesheet" type="text/css" href="mystyle.css">
    
  </head>
  <a-sky src="pink.jpg"></a-sky>
 <div class="topnav">
     <a href ="./" > HOME</a>
     <a href ="./basketball" > BASKETBALL</a>
     <a href ="./soccer" > SOCCER </a>
     <a href ="./tennis" > TENNIS </a>
     <a href ="./howtohelp" > HOW YOU CAN HELP</a>
     <a href ="./quiz" > QUIZ</a>
     </div>
     
     <body>
     <style>
     @import url('https://fonts.googleapis.com/css?family=Merriweather');
    @import url('https://fonts.googleapis.com/css?family=Syncopate');
     
        .topnav {
   overflow: hidden;
   background-color: #EF4387  ; font-size:  29px; 
}

/* Style the topnav links */
.topnav a {
   float: left;
   display: block;
   color: #FFEAEF;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
   background-color: #FFCAE0    ;
   color: #EF4387;
}
         html{
  margin-left: auto; 
  margin-right: auto; 
         }
  
body{
    /*background-image: url("pink.jpg"); */
    background-image: url("https://www.freevector.com/uploads/vector/preview/18263/Free-Pink-Background-Vector.jpg");
    /*background-size: cover;*/
    font-size :46px; 
    font-family: 'Syncopate'; 
}
body{color:white}
h1{text-align: center}
h1{font-size: 100px}
h1{font-family: 'Syncopate'}
h2{text-align: left}
h2{font-size: 50px}
h2{font-family: merriweather}
h3{text-align: left}
h3{font-size: 35px}
h3{font-family: merriweather}
h2{word-spacing:10px}
h3{word-spacing:10px}
h4{font-size:30px}
h4{text-align: center}
h4{font-family: merriweather}
h4{word-spacing:10px}
#ball{padding-left:400px}
#WNBA{padding-left:400px}
li{font-size : 30px;
    font-family : merriweather
}
h5{font-size:18px}
h5{text-align: center}
h5{font-family: merriweather}

.team{
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

.ChelseaGray{
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}
     </style>

<h1>Basketball</h1> 

<img class="team" src="http://www.womensbasketball247.com/wp-content/uploads/2016/10/sparks-championship.jpg" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" width="600" height="400" style="margin-top: 0px;" alt="Image result for los angeles sparks team">

<h2>WNBA</h2>
       <li>The pay gap between the WNBA and the NBA is significant. Women on average make $20,000 less than men in basketball. 
         <li> The starting salary for a WNBA player is around $41,202.
           <li> Even the most skilled WNBA player is paid only 1/5 of the lowest paid NBA player, or even a NBA player that has been benched for most of the season. 
           <li> WNBA players are only paid 25% of their revenue. This being said, WNBA players often have 32 games per season.
             <li> The reigning WNBA MVP of 2017, Sylvia Fowels, earned $109,000. She was underpaid by $881,787.

&nbsp

<h2>NBA</h2>
      <li>The starting salary for an NBA player is around $560,000.
        <li> Men are paid 50% of their revenue. 
          <li> NBA players play roughly 82 games per season not including playoffs. 
            <li> The reigning NBA MVP of 2017, Russell Westbrook, earned a total of $28.5 million. 

<h4>According to CNBC this pay gap is not just in basketball. When comparing the pay of a man to the pay of a women for the same job at the same company with similar education and experience, men still earn 2.4% more than women on average.</h4>

<img class="ChelseaGray" src="https://cdn.vox-cdn.com/thumbor/mPOwiW1mgEVS_IYhl2xsB3razVs=/0x801:2400x2401/1200x800/filters:focal(0x801:2400x2401)/cdn.vox-cdn.com/uploads/chorus_image/image/46599404/477333252_master.0.0.jpg" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" width="600" height="400" style="margin-top: 0px;" alt="Image result for chelsea gray basketball">

<h5>WNBA player Chelsea Gray, top paid WNBA player - $741.485</h5>

 <br>
  <br>
  <br>

  </body>
  
</html>