<html>
  
<head>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <title>GymnasticsQuizOutput</title>
 </head>
   <div class="topnav">
     <a href ="./" > HOME</a>
     <a href ="./basketball" > BASKETBALL</a>
     <a href ="./soccer" > SOCCER </a>
     <a href ="./tennis" > TENNIS </a>
     <a href ="./howtohelp" > HOW YOU CAN HELP</a>
     <a href ="./quiz" > QUIZ</a>
     </div>
     
<body>
 
 <style>
   
   @import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Syncopate');
   
 .topnav {
   overflow: hidden;
   background-color: #EF4387;
    font-size:  29px;
  font-family:'Syncopate';
}

/* Style the topnav links */
.topnav a {
   float: left;
   display: block;
   color: #FFEAEF;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
   background-color: #FFCAE0    ;
   color: #EF4387;
}

html{
  margin-left: auto; 
  margin-right: auto; 
         }
  
body{
   background-image: url("https://www.freevector.com/uploads/vector/preview/18263/Free-Pink-Background-Vector.jpg");
  color: white; 
  font-family: Merriweather; 
  font-size: 30px; 
  text-align: center; 
}

h1{
  font-size: 100px;  
  font-family: 'Syncopate'
}


.flip{
   display: block;
   margin-left: auto;
   margin-right: auto;
}

 </style>
 
 <h1>You got: Gymnastics!</h1>
<img class="flip" src="https://media1.tenor.com/images/26413846d142b17066e7aebbbcbbdbd7/tenor.gif?itemid=5944837" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" width="400" height="224" alt="Image result for gymnastics gif" style="margin-top: 65px;">
  <p>Here are a couple academies to check out to get you started!</p>
  <li><a href = "http://www.premier-gymnastics.com">Premier Gymnastics Academy</a></li>
   <li><a href = "https://nebraskagoldgymnastics.com">Nebraska Gold Gymnastics Academy</a></li>

 <br>
  <br>
  <br>
 
</body>
  
</html>
