<html>
  
<body>
  
<head>
  <link rel="stylesheet" type="text/css" href="mystyle.css">
  <title>How You Can Help!</title>
</head>
<nav> 
<a href ="/" > HOME</a>
     <a href ="/basketball" > BASKETBALL</a>
     <a href ="/soccer" > SOCCER </a>
     <a href ="/tennis" > TENNIS </a>
     <a href ="/howtohelp" > HOW YOU CAN HELP</a>
     <a href ="/quiz" > QUIZ</a>
     </nav>
  
<h1>How You Can Help!</h1>
  <p>1. Encourage girls and young women around you to participate in sports<br></p>
    
  <p>2. Take our quiz to find out which sport is best for you</p>
    
  <p>3. Send our quiz to a girl in your life</p>
    
  <p>4. Educate yourself more about female athletes<br>
<li>Visit <a href = "https://www.globalcitizen.org/en/content/17-badass-female-athletes-you-need-to-know/"> https://www.globalcitizen.org/en/content/17-badass-female-athletes-you-need-to-know/</a> to read about the amazing female athletes of our time.</li></p>
      
<p>5. Tune into women’s sports games<br>
  Visit <a href = "http://www.espn.com/espnw/">Women's ESPN</a> to watch and stay up-to-date on women's basketball, tennis, golf, soccer, MMA, volleyball, and softball. The site even includes personal essays and podcasts by female athletes, interviews, lifestyle tips, and culture news.</p>
  
</body>
  
</html>