<!--This is where your HTML for your home page goes -->
<!DOCTYPE html>
<html>
<h1>
  <body>
    <head> <title>Leveling The Playing Field </title></head>
    <nav> 
     <a href ="/" > HOME</a>
     <a href ="/basketball" > BASKETBALL</a>
     <a href ="/soccer" > SOCCER </a>
     <a href ="/tennis" > TENNIS </a>
     <a href ="/howtohelp" > HOW YOU CAN HELP</a>
     <a href ="/quiz" > QUIZ</a>
     
     </nav>
     
 
<h1> Leveling The Playing Field </h1>
 
  
    <h2>Mission Statement: Our mission is to bring awareness to the gender inequalities that plague the professional sports world and to empower women to participate in athletics. </h2>
  </body>

</html>