<!--This is where your HTML for your home page goes -->
<!DOCTYPE html>
<html>

  
    <head>
        <title>Leveling The Playing Field </title>
        <link rel="stylesheet"  type="text/css" href="css/styles.css">
        <!--<link rel="pinkBackground" href="pink.jpg" type="image/jpg">-->
    </head>
    <div class="topnav">
     <a href ="./" > HOME</a>
     <a href ="./basketball" > BASKETBALL</a>
     <a href ="./soccer" > SOCCER </a>
     <a href ="./tennis" > TENNIS </a>
     <a href ="./howtohelp" > HOW YOU CAN HELP</a>
     <a href ="./quiz" > QUIZ</a>
     </div>
    
 <body>
     
     <style> 
     
         html{
  margin-left: auto; 
  margin-right: auto; 
         }

     body{background-image: url("https://www.quotemaster.org/images/5b/5b531732672e63a3c14163f36cd324f2.jpg");
    background-size: cover;
    color:white; 
    font-size :46px; 
    font-family: blackroses; 
    text-align: center;
    vertical-align : middle
    
}

h1{text-align: center;
    font-size: 100px;
    font-family: blackroses
}

h2{
    text-align: center;
font-size: 40px;
font-family: merriweather
    
}

.topnav {
   overflow: hidden;
   background-color: #EF4387;
    font-size:  51px;
}

/* Style the topnav links */
.topnav a {
   float: left;
   display: block;
   color: #FFEAEF;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
   background-color: #FFCAE0    ;
   color: #EF4387;
}

     </style>
     
        &nbsp
<br>
<h1> Leveling The Playing Field </h1>

    <h2>Our mission is to bring awareness to the gender inequalities that plague the professional sports world and to empower girls to participate in athletics. </h2>
   
   
  </body>

</html>