<html>
    
    <head>
        <title>Quiz</title>
    </head>
 <div class="topnav">
     <a href ="./" > HOME</a>
     <a href ="./basketball" > BASKETBALL</a>
     <a href ="./soccer" > SOCCER </a>
     <a href ="./tennis" > TENNIS </a>
     <a href ="./howtohelp" > HOW YOU CAN HELP</a>
     <a href ="./quiz" > QUIZ</a>
     </div>
     
    
    <body>
        <style>
        @import url('https://fonts.googleapis.com/css?family=Merriweather');
     @import url('https://fonts.googleapis.com/css?family=Syncopate');
     
        .topnav {
   overflow: hidden;
   background-color: #EF4387  ;
   text-align: center;
   font-size:  51px;
}

/* Style the topnav links */
.topnav a {
   float: left; 
   display: block;
   color: #FFEAEF;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
  font-size:  29px;
  font-family: 'Syncopate';
}

/* Change color on hover */
.topnav a:hover {
   background-color: #FFCAE0    ;
   color: #EF4387;
font-size:  29px;
 text-align: center;
}

         html{
  margin-left: auto; 
  margin-right: auto; 
         }
         
body{
    background-image: url("https://www.freevector.com/uploads/vector/preview/18263/Free-Pink-Background-Vector.jpg");
    color: white; 
     font-size :46px; 
    font-family: 'Syncopate';
    }

h1{text-align: center;
    font-size:  70px;
    font-family: 'Syncopate'
}

h2{
    text-align: center;
font-size: 40px;
font-family: merriweather
}

        </style>
        <br><br><br><br>
        <header><h1 style=font-size:60px><font color="white"> Team Sport Quiz <a href = "team.erb"> here!</a></font></h1></header>
        
        
  <header><h1 style=font-size:60px><font color="white"> Individual Sport Quiz <a href = "indiv.erb"> here!</a></font></h1></header>
        
   <br>
  <br>
  <br>
  
    </body>
    
</html>