<html>
    
    <body>
        <header><h1 style=font-size:70px><font color="black"> Team Sport Quiz <a href = "team.erb"> here!</a></font></h1></header>
  <header><h1 style=font-size:70px><font color="black"> Individual Sport Quiz <a href = "indiv.erb"> here!</a></font></h1></header>
        
        
    </body>
</html>