<html>
  
  <head>
    <title>SoccerOutput</title>
  </head>
   <div class="topnav">
     <a href ="./" > HOME</a>
     <a href ="./basketball" > BASKETBALL</a>
     <a href ="./soccer" > SOCCER </a>
     <a href ="./tennis" > TENNIS </a>
     <a href ="./howtohelp" > HOW YOU CAN HELP</a>
     <a href ="./quiz" > QUIZ</a>
     </div>
     
  <body>
    
    <style>
    
    .topnav {
   overflow: hidden;
   background-color: #EF4387;
font-size:  29px;
  font-family: 'Syncopate';
}

/* Style the topnav links */
.topnav a {
   float: left;
   display: block;
   color: #FFEAEF;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
   background-color: #FFCAE0    ;
   color: #EF4387;
}

         html{
  margin-left: auto; 
  margin-right: auto; 
         }

      body
{
  color : white;
  background-image: url("https://www.freevector.com/uploads/vector/preview/18263/Free-Pink-Background-Vector.jpg");
  font-family: merriweather;
}
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Syncopate');

h1
{
  font-size : 100px;
    text-align : center; 
    font-family: 'Syncopate'
}

.irc_mi
{
margin-left : 250px; 
  margin-bottom: 30px
}

.clubs
{
  font-size : 20px;
  
}
.camps
{
  font-size : 20px
}

h3
{
  font-size : 36px;
  text-align : center
}

.opportunities
{
  font-size : 28px; 
  text-align : center
}
    </style>
    
    
    <h1>
     You got: Soccer! 
    </h1>
    <img class="irc_mi" src="https://media.giphy.com/media/D6ugRMtYJOmDS/source.gif" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" width="750" height="500" style="margin-top: 30px;" alt="Image result for female soccer gif">
    <p class = opportunities>
    Click on these links for clubs, camps, and other opportunities in the Omaha area to play soccer!
    <h3>Clubs</h3>
      <div  class = clubs>
        <li><a href="http://www.sportingomahafc.com/">Sporting Omaha FC</a> => The Sporting Omaha FC Club has groups for all levels and ages<li><a href="https://www.evolutionsoccerclub.com/">Evolution Soccer Club</a> => The Evolution Soccer Club has groups for all levels and ages<li><a href="http://elkhornsoccer.org/">Elkhorn Soccer Club</a> => The Elkhorn Soccer Club has groups for all levels and ages
    </div>
    <h3>Camps</h3>
    <div class = camps>
      <li><a href="https://www.unomaha.edu/camps/index.php">UNO Soccer Camp</a> => This camp is available for kids from 1st-7th grade and 9th-12th grade. It is great for beginner players.<li><a href="http://creightonsocceracademy.com/">Creighton Soccer Academy</a> => There is a junior camp for 11-14 year olds and a senior campe for 14-18 year olds. This is a more advanced camp than the UNO camp. 
    </div>
    
  <br>
  <br>
  <br>
    
  </body>
  
</html>