<!DOCTYPE html>
<html>
  
  <head>
  <title>Soccer</title>
</head>

 <div class="topnav">
     <a href ="./" > HOME</a>
     <a href ="./basketball" > BASKETBALL</a>
     <a href ="./soccer" > SOCCER </a>
     <a href ="./tennis" > TENNIS </a>
     <a href ="./howtohelp" > HOW YOU CAN HELP</a>
     <a href ="./quiz" > QUIZ</a>
     </div>
     
<body>
  <style>
  
  .topnav {
   overflow: hidden;
   background-color: #EF4387;
    font-size:  29px;
}

/* Style the topnav links */
.topnav a {
   float: left;
   display: block;
   color: #FFEAEF;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
   background-color: #FFCAE0    ;
   color: #EF4387;
}
  
         html{
  margin-left: auto; 
  margin-right: auto; 
         }

    body {
   background-image: url("https://www.freevector.com/uploads/vector/preview/18263/Free-Pink-Background-Vector.jpg");
    font-family : 'Syncopate';
      color : white;
      font-size :30px 
}
 h2{
   text-align : center;
   font-family : 'Syncopate'
   
 }
 
 .text{
     font-size: 30px;
 }
 
.title{
  text-align : center;
  font-size : 100px;
  font-family: 'Syncopate';
}

@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Syncopate');

.pictures
{
  
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
}
.bullets
{
    font-family : merriweather
    
}
.firstvideo{
    font-family : merriweather
}
.secondvideo{
    font-family : merriweather
}
.cc
{
 display: block; 
  margin-left: auto; 
  margin-right: auto; 
  
}
.turf
{
 display: block; 
  margin-left: auto; 
  margin-right: auto; 
}
</style>
  <h1 class=title>
    Soccer
  </h1>
  <img class=pictures
        src="https://cdn-s3.si.com/s3fs-public/styles/marquee_large_2x/public/2016/02/03/us-soccer-sues-uswnt.jpg?itok=fQrah6-E" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" width="571" height="318" style="margin-top: 32px;" alt="Image result for us women's soccer team"> 
           <h2 class=usawomen>
    The USA Women's Soccer Team Struggle for Equal Treatment
  </h2>
  <div class "text">
  <ul class=bullets>
   <li> It's no secret that the this team is made up of brilliant performances as they have racked up 4 Olympic gold medals and 3 World cup wins
   <li> They are now bringing to light the gender pay gap prevalent in the world of pro soccer by taking legal action against pay discrimination.
   <li> For example, for their 2015 win in the World Cup, the team was given $2 million. The USA men's team was given $9 million for LOSING in round sixteen. Even more alarming, the German men's team received $35 million for winning that World Cup. 
  <li>When looking at the women's income individually, they would each earn $99,000 if they won 20 games, while the men would most likely earn somewhere around $265,00 for winning the same number of games. On top of that, the women are not paid after the 20 games, while the men can get paid as much as $17,625 for each game past 20. 
  <li> Female soccer players are also forced to compete on potentially dangerous artifical turf (as shown in the photo below) at the World Cup, which is something men have never had to do at their own World Cup. </li>
    <br>
    <br>
    <br>
    <img class= turf src="http://equalplayfc.com/wp-content/uploads/2014/09/Turf-Legs.jpg" alt="Image result for issues with artificial turf female soccer" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" width="293" height="390" style="margin-top: 0px;">
  </ul>
    <br>
    <br>
    <br>
    <p class=firstvideo>
      
    In this video, Hasan Minhaj comedically interviews 3 members of the USA women's soccer team, Becky Sauerbrunn, Ali Krieger, and Hope Solo, about their federal complaint against the EEOC (Equal Employment Opportunity Commission). Click on the picture to watch the video! 
  
  <a href= "https://www.youtube.com/watch?reload=9&v=x9GqWoy6__s">
      <img class=cc
   src="https://comedycentral.mtvnimages.com/images/shows/tds_trevornoah/Guests/SOCCER-SITE.jpg?quality=0.85&amp;width=664&amp;height=374&amp;crop=true" alt="Image result for women's soccer team usa interview cc" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" width="571" height="322" style="margin-top: 18px;">
  </a>
  <br><br><br><br><br><br>
  </p>
  <p class=secondvideo>
    
  In another video, 4 players from the USA women's soccer team are interviewed about why they are filing a complaint against the EEOC. Click on the picture to watch the video!  
    <br>
    <br>
  
    <a href="https://www.youtube.com/watch?v=IDXuIHe0O2Q">
    
    <img class=pictures src="https://imagesvc.timeincapp.com/v3/mm/image?url=https%3A%2F%2Fpeopledotcom.files.wordpress.com%2F2016%2F08%2Fwomens-spccer-team-1024.jpg%3Fw%3D1024&amp;w=700&amp;q=85" alt="Image result for us women's soccer team" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" width="508" height="381" style="margin-top: 0px;">
    </a>
  </p>
  
  </div>
  
  <br>
  <br>
  <br>
  
  </body>
  
</html>
  
     