
        
<html>
  <head>
    <meta charset="UTF-8">
    <title>Individual Sport Quiz</title>
      <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
  <body>

      <h1 class="header">Individual Sport Quiz</h1>

     
     
      <form action="/res" method="post">
      <h2>Do you prefer playing indoors or outdoors?</h2>
        <input type="radio" name="place" value="1">indoors<br>
        <input type="radio" name="place" value="2">outdoors<br>
        <h2>Are you better with your hands or feet?</h2>
        <input type="radio" name="hands_feet" value="1">hands<br>
        <input type="radio" name="hands_feet" value="2">feet<br>
        <h2> What season do you like playing in? </h2>
          <input type="radio" name="running" value="1">Winter<br>
          <input type="radio" name="running" value="2">Spring<br>
        <!-- <h2> How experienced are you with baking?</h2>
<br> -->

          <!-- <input type="radio" name="skill" value="A" >I'm an expert
        <input type="radio" name="skill" value="B"> I've baked a bit <br>
          <input type="radio" name="skill" value="C">I've never baked anything really
            <br> -->
          <button type = "submit" class="new"> Let's play! </button>
      </form>
    </div>
  </div>

  
        
    </body>
    
    
    
    
    
    
</html>