<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="tennis.css">
  <title>Tennis</title>
</head>
  
 <div class="topnav">
     <a href ="./" > HOME</a>
     <a href ="./basketball" > BASKETBALL</a>
     <a href ="./soccer" > SOCCER </a>
     <a href ="./tennis" > TENNIS </a>
     <a href ="./howtohelp" > HOW YOU CAN HELP</a>
     <a href ="./quiz" > QUIZ</a>
     </div>
     
     
<body>
  <style>
  .topnav {
   overflow: hidden;
   background-color: #EF4387  ;
    font-size:  51px;
}


/* Style the topnav links */
.topnav a {
   float: left;
   display: block;
   color: #FFEAEF;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
   background-color: #FFCAE0    ;
   color: #EF4387;
}

         html{
  margin-left: auto; 
  margin-right: auto; 
         }

body{
   font-size :30px; 
    font-family: blackroses; 
  color: white; 
   background-image: url("https://www.freevector.com/uploads/vector/preview/18263/Free-Pink-Background-Vector.jpg");
}

h1{
  text-align: center;
  font-size: 100px; 
  font-family: blackroses;
}

h2{
  text-align: center; 
  font-size: 35px;  
  font-family : merriweather;
}

.text{
  font-family : merriweather;
  font-size : 30px;
}

.pictures{
  text-align: center; 
}

.trophies{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
  </style>
  
  
  <h1>Tennis</h1>
<div class = "pictures">
  <img src="https://img.vavel.com/b/543796536-1.jpg" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" width="511" height="353" style="margin-top: 0px;" alt="Simona Halep hitting a forehand">
  <img src="https://www.tennisworldusa.org/imgb/55881/serena-williams-can-restore-order-to-the-chaos-of-the-wta-tour.jpg" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" width="628" height="353" style="margin-top: 0px;" alt="Serena Williams hitting a backhand">
</div class = "pictures">
    
    <div class = "text">
<h2>Some <i>Not So Fun Facts!</i></h2>
    
  <li>It is true that the 4 Grand Slams now have equal prize money for men and women, but this distracts from inequalities that still exist.</li>
 
    &nbsp
  
<li>In Grand Slams, men play best of 5 sets, while women only play best of 3 sets. This discrepancy simply undermines women’s skill and endurance.</li>
   
  &nbsp

  <li>At the 2017 Western & Southern Open in Cincinnati, the biggest event before the US Open, men’s champion Grigor Dimitrov took home $954,225, almost double of what women's champion Garbiñe Muguruza received, which was only $522,450.</li>
  
    &nbsp
  
  <li>Wimbledon only started paying equal prize money in 2007, after a prolonged fight by Venus.</li>
  
  &nbsp
  
    <li>Take a look at the picture below of the men's and women's championship trophies for Wimbledon. Notice a difference? Yeah, the women's "trophy" is really just a plate.</li>
  
    &nbsp
  
  <img class="trophies" src="https://2018.wimbledon.com/images/pics/large/s_fedmugutrop.jpg" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" width="663" height="353" style="margin-top: 0px;" alt="Men's and women's Wimbledon trophies">
  
&nbsp
  
  <li>The 2017 Forbes’ Top 100 List of Top-Earning Athletes features only one woman, Serena Williams, coming in 51st place. And although this seems like a win for tennis, she comes after five male players including Rafael Nadal, Roger Federer, and Andy Murray, even though she has won the most Grand Slam titles of any person in history and has lucrative endorsements including Nike, JPMorgan Chase, and Gatorade.</li>
  
&nbsp
    
<li>In June 2017, former top player John McEnroe sparked controversy when he told NPR that Serena Williams would come in at 700th place if she were to compete in the men’s circuit.</li>

  &nbsp
  
<li>Andy Murray had to correct a journalist who claimed that Murray was the first American to reach a grand slam semi-final since 2009 (multiple women, including Venus and Serena, have reached the goal in the meantime).</li>
  
  &nbsp
  
<li>“I’ve had people ask me whether I’m concerned about wearing makeup into a match,” says Madison Keys, the twelfth-ranked U.S. player in women’s tennis. “One year, an on-court commentator asked one of the girls to twirl after the match. Surely, he’s not going to go up to a man to ask, ‘Can you do a spin for us?’”</li>

&nbsp
  
<li>After Serena Williams took home her 22nd Grand Slam title at Wimbledon and became tied with Steffi Graf as having the most Grand Slam titles in the Open era of tennis, Googling “Tennis Player With the Most Grand Slams” only delivered Roger Federer’s 17 titles.</li>
  
  </div>
  
  <br>
  <br>
  <br>
  
</body>
 
</html>