<html>
  
<head>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <title>TennisQuizOutput</title>
 </head>
 
  <div class="topnav">
     <a href ="./" > HOME</a>
     <a href ="./basketball" > BASKETBALL</a>
     <a href ="./soccer" > SOCCER </a>
     <a href ="./tennis" > TENNIS </a>
     <a href ="./howtohelp" > HOW YOU CAN HELP</a>
     <a href ="./quiz" > QUIZ</a>
     </div>
  
<body>
  <style>
    
    @import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Syncopate');
    
  .topnav {
   overflow: hidden;
   background-color: #EF4387;
     font-size:  29px;
      font-family: 'Syncopate';
}

/* Style the topnav links */
.topnav a {
   float: left;
   display: block;
   color: #FFEAEF;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
   background-color: #FFCAE0    ;
   color: #EF4387;
}

         html{
  margin-left: auto; 
  margin-right: auto; 
         }
  
body{
   background-image: url("https://www.freevector.com/uploads/vector/preview/18263/Free-Pink-Background-Vector.jpg");
  color: white; 
  font-family: Merriweather; 
  font-size: 30px; 
}

h1{
  font-size: 100px; 
  text-align: center; 
  font-family: 'Syncopate'; 
}

.SerenaWilliams{
   display: block;
   margin-left: auto;
   margin-right: auto;
}
  </style>
  <h1>You got: Tennis!</h1>
  
<img class="SerenaWilliams" src="https://media.giphy.com/media/TLfoCeYbqhyjC/giphy.gif" alt="Image result for tennis gif" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" width="500"height="281" style="margin-top: 36px;">

<ol>
  <li>Click <a href = "http://www.omahatennis.org">here</a> to visit the Omaha Tennis website!</li>
  
  &nbsp
  
<li>Click <a href = "https://docs.google.com/spreadsheets/d/e/2PACX-1vR9FWUSy8FntQ1TobtTtz0_u22oXMm-hXhjlL2R2DNy5bVKsbfjSEhYaDhYd6wpJdsejqcf_cZJroDe/pubhtml">here</a> to view the 2018 Nebraska Tournament and Event Calendar!</li>
  
  &nbsp
  
 <li>Here are a couple academies to consider:</li>
<ul>
  <li>Nebraska Tennis Academy
    <ul>
      <li>Francois Van Impe (402-802-1948) & Gerhard Posche (402-669-8150)</li>
    </ul>
  <li>Faust Academy</li>
  <ul>
    <li>Rick Faust (402-346-5401)</li>
  </ul> 
  </ul>
  
  &nbsp
  
  <li>Click <a href = "https://swinginsisterssquad.weebly.com">here</a> to learn about the Swingin’ Sisters Squad, an organization that promotes female empowerment in tennis to level the playing field for girls in the Omaha tennis community!</li>
</ol>
  
 <br>
  <br>
  <br>
  
  </body>
  
</html>
