<html> 
  
  <head>
  <link rel="stylesheet" type="text/css" href="mystyle.css">
  <title>Track/XC Output</title>
</head>

 <div class="topnav">
     <a href ="./" > HOME</a>
     <a href ="./basketball" > BASKETBALL</a>
     <a href ="./soccer" > SOCCER </a>
     <a href ="./tennis" > TENNIS </a>
     <a href ="./howtohelp" > HOW YOU CAN HELP</a>
     <a href ="./quiz" > QUIZ</a>
     </div>

  <body>
    
    <style>
      
      @import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Syncopate');
      
    .topnav {
   overflow: hidden;
   background-color: #EF4387  ;
    font-size:  29px;
  font-family: 'Syncopate';
}

/* Style the topnav links */
.topnav a {
   float: left;
   display: block;
   color: #FFEAEF;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
   background-color: #FFCAE0    ;
   color: #EF4387;
}

    html{
  margin-left: auto; 
  margin-right: auto; 
    }
body{ background-image: url("https://www.freevector.com/uploads/vector/preview/18263/Free-Pink-Background-Vector.jpg");}
body{color:white}
h1{text-align: center}
h1{font-size: 95px}
h1{font-family: 'Syncopate'}
h2{text-align: center}
h2{font-size: 45px}
h2{font-family: merriweather}
#gif{padding:280px; height: 400px}
p{text-align: center}
p{font-family: merriweather}
p{font-size: 30px}
li{text-align: center}
li{font-family: merriweather}
li{font-size: 34px}
.gif{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

</style>

    <h1>You got: Track / Cross Country!</h1>
<img class="gif" src="https://cdn.vox-cdn.com/uploads/chorus_asset/file/6945563/2016-08-15%2023_10_28.gif" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" width="600" height="274" style="margin-top: 0px;" alt="Image result for women olympics running gif">
    <br>
    <li> Click here for links about camps.</li>
  <p> <a href = "http://www.huskertrackcamp.com"
>Husker Track Camp</a><br>
       <a href = "https://www.ussportscamps.com/running/nike/nike-cross-country-camp-creighton-university"
>Creighton Cross Country Camp</a><br>
    <!--<img src="https://media3.giphy.com/media/2eN0NkCvhjxqo/giphy.gif" id="gif">-->
    
 <br>
  <br>
  <br>
    
  </body>
  
</html>
