
/*This is your CSS file */
         html{
  margin-left: auto; 
  margin-right: auto; 
         }
@import url('https://fonts.googleapis.com/css?family=Merriweather');
   @import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
body{
    background-image: url("https://www.freevector.com/uploads/vector/preview/18263/Free-Pink-Background-Vector.jpg");
    color: white; 
    font-size: 30px;
    font-family: 'Syncopate'; 
}

h1{text-align: center;
    font-size: 90px;
    font-family: 'Syncopate'; 
}

.header
{
    font-family: 'Syncopate'; 
}

.input
{
    text-align : center
}

h2{
    text-align: center;
font-size: 40px;
font-family: 'Syncopate'
    
}
.topnav {
   overflow: hidden;
   background-color: #EF4387; 
  font-size:  46px;
  font-family: 'Syncopate';
}


/* Style the topnav links */
.topnav a {
   float: left;
   display: block;
   color: #FFEAEF;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
   background-color: #FFCAE0    ;
   color: #EF4387;
}
